<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table caption-top">
    <caption class="text-center"><h1>Employees Admin Panel &#128110;</h1></caption>
    <thead class="table-dark">
      <tr class="text-center">
        <th>Full Name</th>
        <th>Email</th>
        <th>Available kudos</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% employees.each do |employee| %>
        <tr class="text-center">
          <td><%= employee.first_name + ' ' + employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.number_of_available_kudos %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
                <% if employee.orders.where(status: :not_delivered).any? %>
                  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                <% end %>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to 'Edit', edit_admin_users_employee_path(employee), class: 'dropdown-item' %></li>
                <li class="position-relative">
                  <%= link_to "Orders", admin_users_orders_path(employee: employee), class: 'dropdown-item' %>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= employee.orders.where(status: :not_delivered).count %>
                    <span class="visually-hidden">undelivered orders</span>
                  </span>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Destroy', admin_users_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item' %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Admin Dashboard', dashboard_admin_users_pages_path, class:'btn btn-outline-secondary' %>
  <%= link_to 'Export all orders to CSV', export_to_csv_admin_users_orders_path, class:'btn btn-outline-success' %>
</div>
