<div class="text-center mt-3">
  <h1>Rewards &#127942;</h1>
</div>

<div class="text-center">
  <div class="btn-group dropend">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Category
    </button>
    <ul class="dropdown-menu">
      <%= link_to 'All', rewards_path, class: 'dropdown-item' %>
      <% categories.each do |category| %>
        <%= link_to category.title, rewards_path(category: category), class: "dropdown-item" %>
      <% end %>
    </ul>
  </div>
</div>

<div class='card-body'>
  <div class="container col-9">
    <% rewards.each do |reward| %>
      <div class="field form-group mt-3">
        <div class="shadow p-3 mb-2 text-dark border border-4">
          <figcaption class="block-footer">
            <div class="row">
              <div class="col-6 text-start">
                <strong>Category:</strong>
                <%= reward.display_category %>
              </div>
              <div class="col-6 text-end">
                <strong>Price:</strong>
                <%= reward.price %>
              </div>
            </div>
          </figcaption>
          <div class="row mt-2">
            <div class="col-4 text-start">
              <%= image_tag reward.photo, size: '100x100', class: 'rounded' if reward.photo.attached? %>
            </div>
            <div class="col-8 text-center">
              <h2 class="display-6 text-start">
                <%= reward.title %>
              </h2>
            </div>
          </div>

          <figcaption class="block-footer text-end">
            <%= link_to 'Show', reward_path(reward), class: 'btn btn-outline-primary' %>
            <%= link_to 'Buy', new_order_path(reward: reward), class: 'btn btn-outline-success' %>
          </figcaption>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="flickr_pagination mt-3 mb-3 text-center">
  <%= will_paginate rewards, container: false %>
</div>
