<div class="card">
  <div class="card-header text-center">
    <h2>Your rewards:</h2>
  </div>

  <div class='card-body'>
    <div class="container col-10">
      <% orders.each do |order| %>
        <div class="field form-group mt-3">
          <div class="shadow p-3 mb-5 bg-body rounded">
            <figcaption class="block-footer">
              <strong>Price:</strong>
              <%= order.reward_snapshot.price %>
            </figcaption>

            <h2 class="display-6 text-center">
              <%= order.reward_snapshot.title %>
            </h2>

            <div class="lead text-break text-center mb-3">
              <em><%= order.reward_snapshot.description %></em>
            </div>

            <figcaption class="block-footer text-end">
              <strong>Bought:</strong>
              <%= order.created_at.strftime('%d-%m-%Y %H:%M') %>
            </figcaption>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flickr_pagination mt-3 mb-3 text-center">
      <%= will_paginate orders, :container => false %>
    </div>
  </div>
</div>
