<div class="text-center">
  <h2>Your rewards:</h2>
</div>

<div class='card-body'>
  <div class="container col-10">
    <div class="text-center">
      <%= link_to 'All rewards', display_orders_path, class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to 'Delivered rewards', display_orders_path(filter: :delivered), class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to 'Undelivered rewards', display_orders_path(filter: :not_delivered), class: 'btn btn-outline-secondary btn-sm' %>
    </div>

    <% orders.each do |order| %>
      <div class="field form-group mt-3">
        <div class="shadow p-3 mb-2 text-dark border border-4">
          <figcaption class="block-footer">
            <div class="row">
              <div class="col-4 text-start">
                <strong>Category:</strong>
                <%= order.reward_snapshot.display_category %>
              </div>
              <div class="col-4 text-center">
                <strong>Delivery method:</strong>
                <%= order.reward_snapshot.delivery_method %>
              </div>
              <div class="col-4 text-end">
                <strong>Price:</strong>
                <%= order.reward_snapshot.price %>
              </div>
            </div>
          </figcaption>

          <h2 class="display-6 text-center mt-3">
            <%= order.reward_snapshot.title %>
          </h2>

          <div class="lead text-break text-center mb-3">
            <em><%= order.reward_snapshot.description %></em>
          </div>

          <figcaption class="block-footer text-end">
            <strong>Bought:</strong>
            <%= order.created_at.strftime('%d-%m-%Y %H:%M') %>
          </figcaption>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flickr_pagination mt-3 mb-3 text-center">
    <%= will_paginate orders, :container => false %>
  </div>
</div>
