<div class="container" id="admin-dashboard-container">
  <div id="admin-dashboard">
    <hr class="border-3 border-top border-light mt-3">
    <p class="display-4 text-center text-white" id='admin_dashboard_logo'>Admin dashboard &#128508;</p>
    <hr class="border-3 border-top border-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Kudos', admin_users_kudos_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Add Kudos', edit_number_of_available_kudos_for_all_admin_users_employees_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Employees', admin_users_employees_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Company Values', admin_users_company_values_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Rewards', admin_users_rewards_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Categories', admin_users_categories_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
         <div class="col">
          <div class="card bg-dark">
              <%= link_to 'Manage Online Codes', admin_users_online_codes_path, class:'btn btn-outline-light btn-lg' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
