<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table caption-top">
    <caption class="text-center"><h1>Kudos Admin Panel &#128214;</h1></caption>
    <thead class="table-dark">
      <tr class="text-center">
        <th>Title</th>
        <th>Content</th>
        <th>Giver</th>
        <th>Receiver</th>
        <th>Company Value</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% kudos.each do |kudo| %>
        <tr class="text-center">
          <td><%= kudo.title %></td>
          <td><%= kudo.content %></td>
          <td><%= kudo.giver.full_name %></td>
          <td><%= kudo.receiver.full_name %></td>
          <td><%= kudo.company_value.title %></td>
          <td><%= link_to 'Destroy', admin_users_kudo_path(kudo), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Admin Dashboard', dashboard_admin_users_pages_path, class:'btn btn-outline-secondary' %> 
</div>
